*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
      overflow: hidden;  
}
#main2{
    height: 100%;
    width: 100%;
    background-color: red;
     overflow: hidden; 
}
#main3{
    height: 100%;
    width: 100%;
    background-color: blue;
     overflow: hidden;  
}